body{
	background: green;
}

.div_seprator{
	background: brown;
    display: block;
    height: 17px;
}

.div-pista-arr{
	margin-top: 110px;
	background-color: white;
    display: block;
    height: 200px;
}

.div-pista-aba{
	background-color: white;
    display: block;
    height: 200px;
}

.padding{
	padding-left: 0px;
}
    