h1{
	display: inline-block;
	text-transform: uppercase;
	color: #FFF;
	text-shadow: black 1px 1px 5px;
	font-size: 40px;
}


body{
	background-image: url('grass.jpg');
	background-size: cover;
}

.iphone{
	background-image: url('iphone.png');
	background-size: cover;
	background-position: center;
	width: 240px;
	height: 494px;
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.messages{
	background-color: #d4d4d4;
    width: 86%;
    height: 71%;
    top: 12%;
    left: 7%;
    overflow-y: scroll;
    position: absolute;
    background-image: url('pig-wallpaper.jpg');
    background-size: auto 100%;
    background-position: center;
}

.message{
	width: 70%;
	display: inline-block;
	float: left;
	min-height: 10px;
	border-radius: 10px;
	background-color: #FFF;
	margin: 5px 10px;
	padding: 5px;
}

.message.messageOwn{
	float: right;
	background-color: #8bc34a;
}


.send-message-bar{
	position: absolute;
	width: 86%;
	left: 7%;
	bottom: 12%;
	height: 5%;
}

.send-message-bar__inner{
	position: relative;
	height: 100%;
	background-color: #8bc34a;
}

.send-message-bar input{
	height: 100%;
	width: 70%;
	display: inline-block;
	float: left;
	padding: 0;
	margin:0;
	border: none;
	padding-left: 5px;
}

.send-message-bar button{
	height: 100%;
	width: 25%;
	display: inline-block;
	float: right;
	padding: 0;
	margin:0;
	color: #FFF;
	background: #000;
	border: none;
}